/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

body {

    font-family: 'Cherry Bomb One', cursive;
}

.nightSky {
    width: 100%;
    height: 100%;
    margin: auto;
    background: hsl(240, 84%, 10%);
    z-index: -1;
    position: absolute;
}

.starDiv {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* 
.background-star1 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background: hsl(0, 0%, 100%);
    border-radius: 50%;
    box-shadow: 0 0 2px hsl(0, 0%, 100%);
    position: absolute;
    left: 30px;
    top: 50px;

    animation: animate 20ms infinite;
}

.background-star2 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 250px;
    top: 100px;
    animation: animate 20ms infinite;
}


.background-star3 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 800px;
    top: 800px;
    animation: animate 20ms infinite;
}


.background-star4 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 500px;
    top: 500px;
    animation: animate 20ms infinite;
}

.background-star5 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 900px;
    top: 200px;
    animation: animate 20ms infinite;
}

.background-star6 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1100px;
    top: 75px;
    animation: animate 20ms infinite;
}

.background-star7 {
    width: 1px;
    height: 1px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 100px;
    top: 700px;
    animation: animate 20ms infinite;
}

.background-star8 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1050px;
    top: 600px;
    animation: animate 20ms infinite;
}

.background-star9 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 150px;
    top: 400px;
    animation: animate 20ms infinite;

}

.background-star10 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1150px;
    top: 400px;
    animation: animate 20ms infinite;
}


.background-star11 {
    width: 1px;
    height: 1px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1500px;
    top: 750px;
    animation: animate 20ms infinite;
}

.background-star12 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1320px;
    top: 550px;
    animation: animate 20ms infinite;

}

.background-star13 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 550px;
    top: 250px;
    animation: animate 20ms infinite;

}

.background-star14 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1550px;
    top: 250px;
    animation: animate 20ms infinite;

}

.background-star15 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1750px;
    top: 50px;
    animation: animate 20ms infinite;

}

.background-star16 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1750px;
    top: 850px;

    animation: animate 20ms infinite;

}


.background-star17 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1670px;
    top: 450px;
    animation: animate 20ms infinite;

}


.background-star18 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 420px;
    top: 810px;
    animation: animate 20ms infinite;

}

.background-star19 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 820px;
    top: 410px;
    animation: animate 20ms infinite;

}

.background-star20 {
    width: 5px;
    height: 5px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 820px;
    top: 110px;
    animation: animate 20ms infinite;

}

@keyframes animate {

    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
} */


.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 4em;
    font-weight: 400;
    color: white;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #FDCA00;
}

.allStars {
    width: 600px;
    height: 600px;
    margin: 24px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px dashed #ff00bf;
}


img {
    width: 200px;
    margin: auto;
}


.btn {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.startOver {
    width: 10%;

    padding: 0.5rem;
    border: 0;
    border-radius: 20px;
    text-align: center;
    background: hsl(212, 92%, 44%);
    font-size: 1rem;
}

.startOver:hover {
    cursor: pointer;
    background: hsl(212, 92%, 44%);
    font-size: 1.2rem;
    transition: 200ms;
}


.next {
    width: 10%;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 40px;
    text-align: center;
    background: hsl(293, 100%, 54%);
    font-size: 3rem;
}



.next:hover {
    cursor: pointer;
    background: hsl(300, 100%, 50%);
    transform: scale(1);
    font-size: 3rem;
    transition: 200ms;
}



@media (max-width: 400px) {

    html {
        overflow: hidden;
    }

    .main {
        margin: auto;
        overflow: hidden;
    }

    .bkgrndStars {
        width: 100%;
        margin: auto;

    }

    .allStars {
        width: 300px;
        height: 400px;

    }

    img {
        width: 105px;

    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
    }


    .startOver {
        margin: auto;
        width: 30%;
    }

    .next {
        font-size: 2rem;
        width: 40%;
        margin: auto;
    }
}

/* * {
    outline: 1px solid red;
} */