/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: hsl(240, 84%, 10%);
    font-family: 'Cherry Bomb One', cursive;
}

.background-star1 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background: hsl(0, 0%, 100%);
    border-radius: 50%;
    box-shadow: 0 0 2px hsl(0, 0%, 100%);
    position: absolute;
    left: 30px;
    top: 50px;
    animation: animate 20ms infinite;
}

.background-star2 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 250px;
    top: 100px;
    animation: animate 20ms infinite;
}


.background-star3 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 800px;
    top: 800px;
    animation: animate 20ms infinite;
}


.background-star4 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 500px;
    top: 500px;
    animation: animate 20ms infinite;
}

.background-star5 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 900px;
    top: 200px;
    animation: animate 20ms infinite;
}

.background-star6 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1100px;
    top: 75px;
    animation: animate 20ms infinite;
}

.background-star7 {
    width: 1px;
    height: 1px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 100px;
    top: 700px;
    animation: animate 20ms infinite;
}

.background-star8 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1050px;
    top: 600px;
    animation: animate 20ms infinite;
}

.background-star9 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 150px;
    top: 400px;
    animation: animate 20ms infinite;

}

.background-star10 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1150px;
    top: 400px;
    animation: animate 20ms infinite;
}


.background-star11 {
    width: 1px;
    height: 1px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1500px;
    top: 750px;
    animation: animate 20ms infinite;
}

.background-star12 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1320px;
    top: 550px;
    animation: animate 20ms infinite;

}

.background-star13 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 550px;
    top: 250px;
    animation: animate 20ms infinite;

}

.background-star14 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1550px;
    top: 250px;
    animation: animate 20ms infinite;

}

.background-star15 {
    width: 3px;
    height: 3px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1750px;
    top: 50px;
    animation: animate 20ms infinite;

}

.background-star16 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1750px;
    top: 850px;

    animation: animate 20ms infinite;

}


.background-star17 {
    width: 4px;
    height: 4px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 1670px;
    top: 450px;
    animation: animate 20ms infinite;

}


.background-star18 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 420px;
    top: 810px;
    animation: animate 20ms infinite;

}

.background-star19 {
    width: 2px;
    height: 2px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 820px;
    top: 410px;
    animation: animate 20ms infinite;

}

.background-star20 {
    width: 5px;
    height: 5px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 0 10px hsl(0, 0%, 100%);
    position: absolute;
    left: 820px;
    top: 110px;
    animation: animate 20ms infinite;

}

@keyframes animate {

    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.container h1 {
    font-size: 4em;
    font-weight: 400;
    color: white;
}



.starOne {
    width: 50%;
    height: 50%;
    background: url(star.png) no-repeat center;
    margin: 0 auto;

}

.one {
    width: 50%;
    height: 50%;
    background: url(one.png) no-repeat center;
    margin: 0 auto;
}

.btn button {
    font-size: 1em;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 10px;
}

.startover {
    background: hsl(212, 92%, 44%);
}

.next {
    background: hsl(49, 100%, 50%);
}